/* App styles */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}


/* Card Styles */

.card-container {
  width: 15rem;
  height: 20rem;
  background-color: rgb(174, 168, 156);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
/* ? images */
.img-container {
  width: 10rem;
  height: 8rem;
 
}

.img-container img {
  height: 8rem;
}

/* ? text */

/* scroll container */
.scroll-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem;
  
}


/* search-box  */

#search-box {
  width: 10rem;
  height: 2rem;
  margin-bottom: 2rem;

}